h1{
    font-family:Lucida Sans Unicode;
}

table, th, td {
    border: 1px solid black;
}

th{
    background-color: aquamarine;
}

.mainlist{
    width: 150px;
    border: 1px solid black;
    background-color: blanchedalmond;
}
